/* navbar start */
#navbar{
    flex-direction: column;
    justify-content: center;
}

#navbar-list li{
    padding: 0.3rem;
    margin: 0.3rem;
}

#navbar li a{
    font-size: 1rem;
}

.btn-primary-md{
    margin: 0.7rem 0rem;
    font-size: 1.2rem;
    padding: 0.7rem;
}
/* navbar ends */
/* section first starts */
#section-first{
    height: 15.7vh;
}
#section-first::before{
    height: 150px;
    background-size: 413px 100%;
}
#section-first h2{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
#section-first h1,#section-first span{
    font-size: 3.4rem;
    font-weight: 500;
    text-align: center;
}

.btn-primary-lg{
    margin: 0.5rem;
    padding: 0.7rem;
    font-size: 1.2rem;
}
/* section first ends */

/* Section second begins*/
/*section second program list begins */
.select-program{
    flex-direction: column;
}
div.select-program-item img {
    height: 100px;
}
div.select-program-item{
    flex-direction: column;
    text-align: center;
    margin: 0.5rem;
    width: 200px;
}
.program-content h4{
    margin: 1rem;
    font-weight: 600;
}

.program-content p{
    width: 160px; 
}
/* Section second progrm list ends */
/* section second classes begins */
#our-classes-container{
    flex-direction: column;
}
.class-schedule{
    padding: 1.7rem 4.2rem;
    text-align: center;
}
#our-class-details{
    width: 100%;
}

#our-class-details img{
    max-width: 100%;
    height: auto;
}
#our-class-details img,#our-class-details h4,#our-class-details p{
    margin: 1rem 0rem;
    text-align: center;
}
div.class-btn{
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
}
/* section second classes ends */
/* section second classes ends */

/* section third classes schedule begins */
#classes-schedule-table th,td{
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
/* section third classes schedule ends */

/* section fourth contact begins */
#contact-section{
    flex-direction: column;
}
#contact-details{
    text-align: center;
    padding: 0rem;
}
#contact-details p{
    margin: 1rem 0rem;
    font-size: 1.3rem;
}
#contact-details h4{
    font-size: 1.6rem;
}
/* section fourth contact ends */

/* utility classes */
.font-large{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;

}
.section-second-paragraph{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0.3rem 1.5rem;
}