@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/* Css Reset */
*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* navigation bar */

#navbar{
    background: linear-gradient(to right, #2a975d 1%, #66c32f 100%) !important;
   background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to right,rgb(42, 151, 93) 1%, rgb(102, 195, 47) 100%); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0px;
    left: 0px;
    /* z-index: 1; */
}

#navbar::before{
    content: ""; 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* opacity: 0.89; */
}

/* logo */
#logo{
    margin: 0.4rem 0.4rem 0.4rem 3.6rem;
}

#logo h1{
    padding: 0.5rem;
}
/* logo end */

/* navbar menu */
#navbar-list{
    display: flex;
}

#navbar-list li{
    margin: 0.2rem 0.5rem;
    padding: 1rem 1.5rem;
}

#navbar-list li a{
    font-size: 1.8rem;
    color: white;
}

#navbar-list li a:hover{
    color: rgba(177, 238, 34, 0.877);
}
/* navbar menu end */
/* navigation bar end */

/* Section first begins*/
#section-first{
    height: 529px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section-first::before{
    content: "";
    background: url('../image/main-bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;

}

#section-first h2{
    margin: 0rem 0rem 2.5rem 0rem;
    font-size: 4.4rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(55, 139, 6);
    position: absolute;
    bottom: 105px;
}

#section-first h1{
    position: absolute;
    top: 405px;
    left: 165px;
}

/* section-first ends */


/* Section Second begins*/
#section-second{
    height: 100%;
    width:100%;
    color: white;
    position: relative;
    top: 0px;
    /* left: 0px; */
}

#section-second::before{
    content: "";
    background-color: rgba(11, 15, 37, 0.753);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/* Section Second Choose Program */
#choose-program{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}
/* Section second choose program ends */

/* Section Second Program List */
div#program-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}

div.select-program{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

div.select-program-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 415px;
}

div.select-program-item img{
    height: 90px;
    width: 90px;
}

/* div.select-program-item .path{
    height: 90px;
    width: 90px;
}
div.select-program-item .opd{
    height: 90px;
    width: 90px;
}
div.select-program-item .pharma{
    height: 90px;
    width: 90px;
}
div.select-program-item .xray{
    height: 90px;
    width: 90px;
}
div.select-program-item .ecg{
    height: 90px;
    width: 90px;
}
div.select-program-item .eco{
    height: 90px;
    width: 90px;
} */

.program-content h4{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
}

.program-content p{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 1rem;
    /* padding: 10px 10px; */

}

.program-content a{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
    color: rgb(253, 142, 101);
}

.program-content a:hover{
    text-decoration: underline;
}
/* section second program list ends */

/*Our Classes Section */
#our-classes{
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 1.5rem;
}

#our-classes-container{
    display: flex;
    /* margin: auto; */
    /* width: 100%; */
    justify-content: center;
}


.class-item{
    display: flex;
    background-color: white;
    margin: 1rem 1rem;
    padding: 1.5rem 0.8rem;
    align-items: center;
}

.class-item a h4{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 1rem;
    color: black;
    /* padding: 1rem 0.5rem; */
}

.class-item h4:hover{
    color: rgb(243, 76, 16);
}

.class-item img{
    height: 30px;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
}

h4#first{
    color: rgb(243, 76, 16);
}

.class-schedule{
    background-color: rgb(243, 76, 16);
    margin: 1rem 1rem;
    padding: 1.7rem 7.1rem;
}

.class-schedule h4{
    color: white;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.class-schedule h4:hover{
    color: black;
}

#our-class-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


#our-class-details img{
    height: 250px;
    width: 50%;
    margin: 1rem 1rem 4rem 3rem;
    /* margin-bottom: 20px; */
}

#our-class-details > h4{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 0rem 0.5rem 3rem;
}

#our-class-details p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0rem 0rem 0rem 3rem;
}

div.class-btn{
    background-color: rgb(243, 76, 16);
    margin: 1.2rem 1rem 1.2rem 3rem;
    padding: 1.2rem 2rem;
    display: inline-block;
    width: 24%;
}

.class-btn h4{
    color: white;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.class-btn h4:hover{
    color: black;
}
/* our classes section ends */

/* Section Third begins */
#section-third{
    position: relative;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
}

#section-third::before{
    content: "";
    background: url('../image/schedule-bg.jpg') no-repeat center center/cover;
    /* opacity: 0.2; */
    position: absolute;
    top: 0px;
    left: 0px;  
    height: 100%;
    width: 100%;
    z-index: -1;
}

#classes-schedule-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}

#classes-schedule-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classes-schedule-table{
    margin: 1.5rem;
}

#classes-schedule-details table, th, td{
    border: 2px solid rgb(45 101 12);
    border-collapse: collapse;
}

#classes-schedule-table th,td{
    padding: 1.8rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}
/* section third ends */

/* section fourth contact section begins*/
#contact-us{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
}

#contact-us::before{
    content: "";
    background: url('../image/contactUs.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 2.5;
}

#contact-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 1.5rem;
}

#contact-section{
    display: flex;
    justify-content: space-evenly;
}

#contact-details{
    margin: 1.5rem;
    padding: 1.5rem;
}

#contact-details h4{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(102, 195, 47);
}

#contact-details h4 a{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(102, 195, 47);
}

#contact-details p{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 1rem;
}

.fa-map-marker-alt,.fa-phone,.fa-envelope,.fa-facebook,.fa-instagram,.fa-twitter{
    font-size: 2rem;
    margin: 0rem 1rem;
}

#give-feedback{
    background-color: rgb(45 101 12);
    color: white;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

#contact-form{
    display: flex;
    flex-direction: column;
}

#give-feedback h2{
    text-align: center;
}

#contact-form label{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0rem 1.5rem;
}

#contact-form input,textarea{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem;
    margin: 0.8rem;
    border-radius: 1rem;
}

#contact-form textarea{
    resize: none;
}

#contact-form button{
    border: 0.2rem solid wheat;
    border-radius: 2rem;
    background-color: rgba(45 101 12);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: 60%;
    margin: 0.8rem auto;
}

#contact-form button:hover{
    background-color: rgba(18, 21, 39, 0.918);
}
/* section fourth contact section ends */

#footer{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem 0.3rem;
    /* background-color: rgba(18, 21, 39, 0.918); */
    background-color: rgba(11, 15, 37, 0.753);
    color: white;
}
/* Utility classes */
.font-large{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

.font-extra-large{
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;
}

.font-medium{
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
}

.color-white{
    color: rgb(255, 255, 255);
}

.color-orange{
    color: rgb(102, 195, 47);
}

.section-second-paragraph{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0.3rem 1.5rem;
}

.section-second-heading-margin{
    margin:1.5rem 0.2rem 1rem 0.2rem;
}

.section-second-img-margin{
    margin: 0.5rem 0.2rem 1rem 0.2rem;
}

/* button styling for navbar and section-first */
.btn-primary-style{
    border: 0.2rem solid wheat;
    border-radius: 2rem;
    background-color: rgba(165, 49, 7, 0.884);
    color: white;
}

.btn-primary-md{
    margin: 0.2rem 9rem 0.2rem 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary-lg{
    margin: 1.5rem 0.5rem;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

.btn-primary-style:hover{
    background-color: rgba(10, 43, 234, 0.918);
}
/* button styling end */